@{
    ViewData["Title"] = "Saldo Fácil - Bem-vindo!";
}

<h2>Bem-vindo ao Saldo Fácil</h2>

<p>No Saldo Fácil, você pode gerenciar suas finanças de forma prática e fácil. Aqui estão algumas funcionalidades disponíveis:</p>

<ul>
    <li>Criar conta: Cadastre-se e comece a usar nossos serviços rapidamente.</li>
    <li>Geração de crédito: Adicione crédito à sua conta com facilidade.</li>
    <li>Débito: Realize transações de débito de forma conveniente.</li>
    <li>Transferência: Envie dinheiro para outras contas de maneira segura.</li>
</ul>

<h3>Como o projeto foi criado</h3>

<p>O Saldo Fácil foi desenvolvido utilizando tecnologias modernas e boas práticas de desenvolvimento de software. Aqui está uma visão geral do projeto:</p>

<ul>
    <li><strong>Framework:</strong> O projeto foi construído utilizando o framework .NET 7 MVC, que permite criar aplicativos web poderosos e escaláveis.</li>
    <li><strong>API:</strong> Utilizamos uma API em .NET 7 para processar transações financeiras e outras operações, garantindo segurança e eficiência.</li>
    <li><strong>Banco de Dados:</strong> O banco de dados utilizado é o SQL Server, oferecendo confiabilidade e desempenho para armazenar os dados dos usuários.</li>
    <li><strong>Padrões de Projeto:</strong> Implementamos padrões de projeto como Scoped e Factory para garantir uma arquitetura robusta e modular.</li>
    <li><strong>Injeção de Dependências:</strong> Utilizamos o recurso de Injeção de Dependências do ASP.NET para promover a reutilização de código e facilitar a manutenção do sistema.</li>
</ul>